 <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<meta charset="UTF-8">
	<title>CRUD</title>
</head>
<body>
<div class="container-fluid">
</div>
<div class="container mt-5">
<div class="card">
	<div class="card-body">
        <h1>Show Pocket </h1>
                <% if flash[:notice].present? %>
                <%= flash[:notice] %>
                <% end %>

                    balance: <%= @pocket.balance %> <br>
                    student_id: <%= @pocket.student_id %> <br>
                    teacher_id: <%= @pocket.teacher_id %> <br>

            <br><div class="pull-right">
            <%= link_to 'Back', pockets_path, class: 'btn btn-danger' %>
            </div>    
        </div>
    </div>
</div>
</body>
</html>
 
 


