 <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<meta charset="UTF-8">
	<title>CRUD</title>
</head>
<body>
<div class="container mt-5">
<div class="card">
	<div class="card-body">
    <h2>Edit student</h2> <hr>
        <%= form_for @student , {class: "fomr-horizontal"} do |f| %>
    
            <%= f.label :name, "Name : ", class: "control-label" %>
                <%= f.text_field :name, class: "form-control" %> <br>

            <%= f.label :username, "Username : ", class: "control-label" %>
                <%= f.text_field :username, class: "form-control" %> <br> 

            <%= f.label :age, "Age:  ", class: "control-label" %>
                <%= f.text_field :age, class: "form-control" %><br>

            <%= f.label :kelas, "kelas: ", class: "control-label" %>
                <%= f.text_field :kelas, class: "form-control" %><br>

            <%= f.label :address, "address : ", class: "control-label" %>
                <%= f.text_field :address, class: "form-control" %><br>

            <%= f.label :city, "city: ", class: "control-label" %>
                <%= f.text_field :city, class: "form-control" %><br>

            <%= f.label :nik, "NIK: ", class: "control-label" %>
                <%= f.text_field :nik, class: "form-control" %><br>

            <%= f.submit 'Simpan', class: 'btn btn-primary'%>

        <% end %>
        </div>
    </div>
</div>
</body>
</html>
 
 