<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <title>index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <% if flash[:notice].present? %>
    <%= flash[:notice] %>
    <% end %>
      
<div class="container-fluid">
 <%= render './nav' %>
    <br> <br>
      <h1>Exam</h1> 
    <br>
<table class="table">
    <thead>
        <tr>
            <th>title</th>
            <th>mapel</th>
            <th>duration</th>
            <th>nilai</th>
            <th>status</th>
            <th>label</th>
            <th>student_id</th>
            <th>Action</th>
        </tr>
    </thead>
    <% @exam.each do |b| %>
    <tbody>
        <tr>
            <td><%= b.title %></td>
            <td><%= b.mapel %></td>
            <td><%= b.duration %></td>
            <td><%= b.nilai %></td>
            <td><%= b.status %></td>
            <td><%= b.label %></td>
            <td><%= b.student_id %></td>
            <td><%= link_to 'Detail ', exam_path(b), class: 'btn btn-ghost' %>  <%= link_to ' Edit', edit_exam_path(b), class: 'btn btn-warning' %>  <%= link_to 'Delete', exam_path(b), class: 'btn btn-danger' , method: :delete, data: {confirm: "Are You sure??"} %></td>
       </tr>
    </tbody>
    <% end %>
</table>
<br>
<div class="pull-right">
<%= link_to 'New exam', new_exam_path, class: 'btn btn-primary'%>
</div>
    
</div>
    </body>
</html>     