 <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<meta charset="UTF-8">
	<title>CRUD</title>
</head>
<body>
<div class="container-fluid">
<br><div class="pull-right">
<%= link_to 'Back', reports_path, class: 'btn btn-danger' %>
</div>    
</div>
<div class="container mt-5">
<div class="card">
	<div class="card-body">
    <h2>Input Report</h2> <hr>
        <%= form_for @report , {class: "form-horizontal"} do |f| %>
    
            <%= f.label :title, "title : ", class: "control-label" %>
                <%= f.text_field :title, class: "form-control" %> <br>

            <%= f.label :hasil, "hasil : ", class: "control-label" %>
                <%= f.text_field :hasil, class: "form-control" %> <br> 

            <%= f.label :mapel, "mapel:  ", class: "control-label" %>
                <%= f.text_field :mapel, class: "form-control" %><br>

            <%= f.label :teacher_id, "teacher_id: ", class: "control-label" %>
                <%= f.text_field :teacher_id, class: "form-control" %><br>

            <%= f.label :student_id, "student_id : ", class: "control-label" %>
                <%= f.text_field :student_id, class: "form-control" %><br>

            <%= f.label :date, "date: ", class: "control-label" %>
                <%= f.text_field :date, class: "form-control" %><br>

            <%= f.submit 'Simpan', class: 'btn btn-primary'%>

        <% end %>
        </div>
    </div>
</div>
</body>
</html>
 
 